<!--HEADER FILE-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog App</title>
	<!--IMPOR SEMANTIC UL-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
	<!--USE nuestro OWN CSS-->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>

	<!--CREATE A MENU-->
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div class="header item"><i class="code icon"></i> Blog Site</div>
			<a href="/" class="item">Home</a>
			<a href="/blogs/new" class="item">New Post</a>
		</div>
	</div>
	